.jpn-tabs-activated.jpn-vertical {
    padding-left: 45px;
    position: relative;
}

.jpn-tabs-activated.jpn-horizontal {
    padding-top: 30px;
    position: relative;
}

.jpn-tabs-activated > .acf-repeater > table > tbody > tr > td.acf-row-handle.order, .jpn-tabs-activated > .acf-repeater > table > tbody > tr > td.acf-row-handle.remove > a.acf-icon.-plus.small, .jpn-tabs-activated > .acf-repeater > table > thead > tr > th.acf-row-handle:first-child {
    display:none;
}

.jpn-tabs-activated > .acf-repeater > table > tbody > tr.acf-row:not(.active) { 
    display:none;
}

.jpn-tabs-activated > .jpn-acf-tabs {
    min-height: 20px;
    background: #f5f5f5;
    box-sizing:border-box;  
    position: absolute;
    left: 0;
    top: 0;
}

.jpn-tabs-activated.jpn-vertical > .jpn-acf-tabs, .jpn-tabs-activated.jpn-vertical > .jpn-acf-tabs {
    width: 96px;
	display:table;
}

.jpn-tabs-activated.jpn-horizontal > .jpn-acf-tabs {
    width: 100%;
}

.jpn-tabs-activated > .jpn-acf-tabs > .nav > ul {
    position:relative;
    padding:0;
    margin:0;
    list-style-type:none;
}

.jpn-tabs-activated > .jpn-acf-tabs > .nav > ul > li > .jpn-acf-tab, .jpn-tabs-activated > .jpn-acf-tabs > .add > .acf-button  {
    height: 30px;
    display: block;
    line-height: 30px;
    font-size: 12px;
    color: #666666;
    padding: 0;
    text-decoration: none;
    background: #eaeaea;
    transition: 0.3s all;
    width: 45px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
}

.jpn-tabs-activated.jpn-horizontal > .jpn-acf-tabs > .nav > ul > li, .jpn-tabs-activated.jpn-horizontal > .jpn-acf-tabs > .nav, .jpn-tabs-activated.jpn-horizontal > .jpn-acf-tabs > .add   {
    display: inline-block;
	vertical-align:top;
}

.jpn-tabs-activated.jpn-horizontal > .jpn-acf-tabs:after {
    content: '';
    width: 75px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 45px;
    background: -moz-linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
    pointer-events: none;
}

.jpn-tabs-activated.jpn-horizontal > .jpn-acf-tabs > .nav {
	position:relative;
	width:calc(100% - 45px);
	overflow-x:scroll;
	overflow-y:hidden;
	height:30px;
	padding-bottom:20px;
}

.jpn-tabs-activated.jpn-horizontal > .jpn-acf-tabs > .nav > ul {
	white-space: nowrap;
	width:100%;
}

.jpn-tabs-activated.jpn-horizontal > .jpn-acf-tabs > .nav > ul > li {
	width: 45px;
    height: 30px;
}

.jpn-tabs-activated > .jpn-acf-tabs > .add > .acf-button  {
    line-height: normal;
    padding: 6px;
    text-align: center;
}

.jpn-tabs-activated > .jpn-acf-tabs > .nav > ul > li > .jpn-acf-tab {
    padding-left:30px;
}

.jpn-tabs-activated > .jpn-acf-tabs > .nav > ul > li > .jpn-acf-tab > span  {
    border-radius: 50%;
    min-width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    left: 50%;
    background: #95c6e5;
    color: #355f79;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    pointer-events: none;
    transform: translateX(-50%);
}


.jpn-tabs-activated > .jpn-acf-tabs > .nav > ul > li > .jpn-acf-tab.active > span  {
    color: #355f79;
    background: #ffffff;
}

.jpn-tabs-activated > .jpn-acf-tabs > .nav > ul > li > .jpn-acf-tab {
    border-bottom:1px solid #d4d4d4;
    position:relative;
}

.jpn-tabs-activated > .jpn-acf-tabs > .nav > ul > li > .jpn-acf-tab:hover {
    color:#3b3b3b;
    background:#d4d4d4;
}

.jpn-tabs-activated > .jpn-acf-tabs > .nav > ul > li > .jpn-acf-tab.active {
    color:#ffffff;
    background:#00a0d2;
}

.jpn-tabs-activated > .jpn-acf-tabs > .add > .acf-button {
    color:#ffffff;
    background:#1d6977;
}

.jpn-tabs-activated > .jpn-acf-tabs > .nav > ul > li > .jpn-acf-tab:focus {
    box-shadow:none !important;
}

.jpn-tabs-activated > .jpn-acf-tabs > .nav > ul > li > .jpn-acf-tab.active {
    border-bottom:1px solid #2b89a7;
}

.jpn-tabs-activated > .acf-repeater > .acf-table {
    border: #00a0d2 solid 5px;
    position:relative;
}

.jpn-tabs-activated > .acf-repeater > table > tbody > tr > td {
    border-top:none;
}