.jpn-tabs-activated {
    padding-left: 96px;
    position: relative;
}

.jpn-tabs-activated > .acf-repeater > table > tbody > tr > td.acf-row-handle.order, .jpn-tabs-activated > .acf-repeater > table > tbody > tr > td.acf-row-handle.remove > a.acf-icon.-plus.small, .jpn-tabs-activated > .acf-repeater > table > thead > tr > th.acf-row-handle:first-child {
    display:none;
}

.jpn-tabs-activated > .acf-repeater > table > tbody > tr.acf-row:not(.active) { 
    display:none;
}

.jpn-tabs-activated > .jpn-acf-tabs {
    width: 96px;
    min-height: 20px;
    background: #f5f5f5;
    box-sizing:border-box;
    display:table;    
    position: absolute;
    left: 0;
    top: 0;
}

.jpn-tabs-activated > .jpn-acf-tabs > .nav > .jpn-acf-tab, .jpn-tabs-activated > .jpn-acf-tabs > .add > .acf-button  {
    height: 30px;
    display: block;
    line-height: 30px;
    font-size: 12px;
    color: #666666;
    padding: 0;
    text-decoration: none;
    background:#eaeaea;
    transition:0.3s all;
    width: 96px;
    text-align: center;
}

.jpn-tabs-activated > .jpn-acf-tabs > .nav > .jpn-acf-tab {
    border-bottom:1px solid #d4d4d4;
}

.jpn-tabs-activated > .jpn-acf-tabs > .nav > .jpn-acf-tab:hover {
    color:#3b3b3b;
    background:#d4d4d4;
}

.jpn-tabs-activated > .jpn-acf-tabs > .nav > .jpn-acf-tab.active {
    color:#ffffff;
    background:#00a0d2;
}

.jpn-tabs-activated > .jpn-acf-tabs > .add > .acf-button {
    color:#ffffff;
    background:#1d6977;
}

.jpn-tabs-activated > .jpn-acf-tabs > .nav > .jpn-acf-tab:focus {
    box-shadow:none !important;
}

.jpn-tabs-activated > .jpn-acf-tabs > .nav > .jpn-acf-tab.active {
    border-bottom:1px solid #2b89a7;
}

.jpn-tabs-activated > .acf-repeater > .acf-table {
    border: #00a0d2 solid 1px;
}

.jpn-tabs-activated > .acf-repeater > table > tbody > tr > td {
    border-top:none;
}